.vs/
.vscode/
CMakeFiles/
./cmake_install.cmake
./CMakeCache.txt
./CMakeLists.txt
./app
./Makefile
./testing/CMakeFiles/
./testing/cmake_install.cmake
./testing/CMakeCache.txt
./testing/gen/
./testing/out
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
app
*.vcxproj
*.filters
*.sln
build/
debug